.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    margin-bottom: 50px;
}
.navbar li a{
    padding: 0px 8px;
}
.hp h1{
    text-align: center;
    margin-bottom: 50px;
}
.hp p{
    text-align: center;
     margin-bottom: 50px;
}
h4{
    text-align: center;
}
hr{
    position: relative;
    bottom: 0px;
}
.home {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url("bg1.jpg.jpg") no-repeat top center;
    background-size: cover;

    z-index: -1;
}
.hp button{
    margin-bottom: 80px;
}
.tub{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.box p{
    text-align: center;
    padding: 2px 22px;
}
.box{
    min-height: 100vh;
    min-width: 50vw;
}
h1{
    text-align: center;
}
.client{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-client{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-client::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/bg.jpg.jpg)repeat;
    height: 100%;
    width: 100%;
    max-height: 100vh;
}
.contact{
    
    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
     overflow-x: hidden;
     width: 100%;
     
}
.contact::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url(img/contact.jpg.jpg) no-repeat center top;
    background-size: cover;
    z-index: -1;
}
.contact input{
    margin: auto;
}

