*{
    margin: 0;
    padding: 0;
}


.logo img{
    width: 94px;
}
.container{
    display: flex;
    position: relative;
    width: 100%;


}
.container::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}
.navbar li{
    list-style: none;
}
.navbar ul{
    display: flex;
    margin-top: 38px;
    
}
.navbar li a{
    padding: 6px 34px;
    color: white;
    text-decoration: none;
    font-family: "Belanosima", sans-serif;
}
.navbar li a:hover{
    
    color: rgb(12, 12, 12);
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    transition: ease-in;
    transition-duration: 1s;
    
}
.client img{
    width: 234px;
    
    
}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.section-client{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 5px;
    height: 100%;

}
.section-client::before{
    content: "";
    position: absolute;
    background: url(img/bg.jpg.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    margin-top: 0;

}
h1{
    text-align: center;
    font-family: "Belanosima", sans-serif;
    margin-top: 10px;
}
.navbar li a:active{
    
    color: rgb(12, 12, 12);
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    transition: ease-in;
    transition-duration: 1s;
   
    
}