*{
    margin: 0;
    padding: 0;
}


.logo img{
    width: 94px;
}
.container{
    display: flex;
    position: relative;
    width: 100%;


}
.container::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}
.navbar li{
    list-style: none;
}
.navbar ul{
    display: flex;
    margin-top: 38px;
    
}
.navbar li a{
    padding: 6px 34px;
    color: white;
    text-decoration: none;
    font-family: "Belanosima", sans-serif;
}
.navbar li a:hover{
    
    color: rgb(12, 12, 12);
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    transition: ease-in;
    transition-duration: 1s;
    
}
.btn{
    border: 2px solid brown;
    border-radius: 56px;
    width: 200px;
    margin-top: 56px;
    font-family: "Belanosima", sans-serif;
    cursor: pointer;
    padding: 6px 43px;
}
.btn:hover{
    transition-property: ease-in;
   
    transition-duration: 1s;
    border: 2px solid black;
    background-color:white ;
    color: black;}
    
    .formgroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        height: 300px;
        margin-top: 100px;
       
    }
    form label{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2px 2px ;
        font-family: "Belanosima", sans-serif;
        
        
    }
    form input{
        display: flex;
        flex-direction: column;
        width:1000px;
        border: 2px solid brown;
        border-radius: 12px;
        font-family: "Belanosima", sans-serif;
        
    }
    .formgroup button{
        padding: 10px 10px;
        margin-left: 400px;
        font-family: "Belanosima", sans-serif;
    }
    .contact::before{
        content: "";
    position: absolute;
    background: url(img/contact.jpg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0%;
    }
    h1{
        text-align: center;
         font-family: "Belanosima", sans-serif;
    }
    .navbar li a:active{
    
    color: rgb(12, 12, 12);
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    transition: ease-in;
    transition-duration: 1s;
   
    
}